<ul class="unstyled">
  <li><a href="/">Erik M. Ferragut</a></li>
  <li><a href="/research/">Research</a></li>
  <li><a href="/ferragut_cv.pdf">Curriculum Vitae</a></li>
  <li><a href="/cyber-security-institute">Student
  Opportunities</a></li>
  <li><a href="/posts">News and Posts</a></li>
  <li><a href="/misc/">Miscellaneous</a></li>
  <li>See also:<br />&nbsp;&nbsp;&nbsp;<a href="http://www.linkedin.com/pub/erik-ferragut/14/60a/63a"
  title="Erik M. Ferragut on LinkedIn">LinkedIn</i></a>
  <a href="http://github.com/?erikferragut" title="Erik M. Ferragut on
  GitHub">GitHub</i></a>
  </li>
</ul>
