<ul class="unstyled">
  <li><a href="/">Erik M. Ferragut</a></li>
  <li><a href="/research/">Research</a></li>
  <li><a href="/ferragut_cv.pdf">Curriculum Vitae</a></li>
  <li><a href="/CyberSecurityInstituteatORNL.pdf">Student Opportunities</a></li>
  <li><a href="/misc/">Miscellaneous</a></li>
  <li><a href="http://www.linkedin.com/pub/erik-ferragut/14/60a/63a"
  title="Erik M. Ferragut on LinkedIn"><i
  class="icon-linkedin"></i></a>
  <a href="http://github.com/?erikferragut" title="Erik M. Ferragut on
  GitHub"><i class="icon-github"></i></a>
  </li>
</ul>
